!
#define _fg_color  #f7f7f7
#define _bg_color  #000000
! Black
#define _black0    #000000
#define _grey      #777777
#define _red0      #aa3731
#define _red1      #f05050
#define _green0    #448c27
#define _green1    #60cb00
#define _yellow0   #cb9000
#define _yellow1   #ffbc5d
#define _blue0     #325cc0
#define _blue1     #007acc
#define _magenta0  #be8c98
! #7a3e9d
#define _magenta1  #e64ce6
#define _cyan0     #8cbeb2
#define _cyan1     #539484
#define _white0    #f7f7f7
#define _white1    #f2ebbf
!
*foreground:  _fg_color
*background:  _bg_color
*cursorColor: #007acc
!
!Black
*color0:      _black0
*color8:      _grey
!
!Red
*color1:      _red0
*color9:      _red1
!
!Green
*color2:      _green0
*color10:     _green1
!
!Yellow
*color3:      _yellow0
*color11:     _yellow1
!
!Blue
*color4:      _blue0
*color12:     _blue1
!
!Magenta
*color5:      _magenta0
*color13:     _magenta1
!
!Cyan
*color6:      _cyan0
*color14:     _cyan1
!
!White
*color7:      _white0
*color15:     _white1
!
!Bold, Italic, Underline
*colorBD:     #000000
!*.colorIT:
!*.colorUL:
*barbg:                    transparent
*barstatus:                transparent
*stalpha:                  0.7
